In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
#from selenium.comon.exception import StaleElementReferencException, NoSuchElementException
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Science')

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [9]:
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title1.append(title)
    
#//span[@class="ellipsis fleft locWdth"]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location1.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cname=i.text
    company_name1.append(cname)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required1.append(experience)

In [11]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

10 10 10 10

In [12]:
import pandas as pd
df=pd.DataFrame({'title':job_title1,'location':job_location1,'company':company_name1,'experience':experience_required1})
df

,title,location,company,experience
0,Data Science & Analyst,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",Eduplex Consultancy Services Pvt.Ltd,9-11 Yrs
1,Data Science Manager,Bangalore/Bengaluru,Wakefit Innovations,7-10 Yrs
2,Chapter Lead - Data Science And Machine Learning,"Bangalore/Bengaluru, Chennai",Lentra Ai,8-13 Yrs
3,Principal Data Scientist (Principal Engineer D...,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.,8-12 Yrs
4,Data Science Manager,Bangalore/Bengaluru,Rapido,6-11 Yrs
5,Data Science,"Bangalore/Bengaluru, Kochi/Cochin, Noida, Kolk...",EY Global Delivery Services India Llp,4-9 Yrs
6,"Senior /Lead, Data Science - AI/ML","Bangalore/Bengaluru, Kolkata, Indore, New Delh...",Srijan Technologies Pvt. Ltd.,3-7 Yrs
7,Data Engineer/data Science Consultant,Bangalore/Bengaluru,Career Infosystem,4-9 Yrs
8,Data science Architect,Bangalore/Bengaluru,Hucon,8-11 Yrs
9,Data Sciences Intern V,Bangalore/Bengaluru,Target,3-8 Yrs