In [7]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')

In [8]:
driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [9]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]')
location.click()

In [10]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]')
salary.click()

In [13]:
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]
Salary_slab=[]

In [16]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title1.append(title)
    
#//span[@class="ellipsis fleft locWdth"]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location1.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cname=i.text
    company_name1.append(cname)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required1.append(experience)

In [14]:
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    Salary_slab.append(salary)

In [17]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1),len(Salary_slab))

10 10 10 10 10

In [18]:
df=pd.DataFrame({'title':job_title1,'location':job_location1,'company':company_name1,'experience':experience_required1,'Salary':Salary_slab})
df

,title,location,company,experience,Salary
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs,Not disclosed
1,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs,"5,00,000 - 15,00,000 PA."
2,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs,"5,00,000 - 10,00,000 PA."
3,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs,Not disclosed
4,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs,Not disclosed
5,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs,"2,00,000 - 7,00,000 PA."
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs,Not disclosed
7,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs,"4,00,000 - 9,00,000 PA."
8,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs,Not disclosed
9,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs,Not disclosed