In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
#from selenium.comon.exception import StaleElementReferencException, NoSuchElementException
from selenium.webdriver.common.by import By

In [4]:
#### Naukari Data Analyst

In [3]:
##  Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
##  have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
##  jobs data.
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')
driver.get("https://www.naukri.com/")

In [9]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [10]:

job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title1.append(title)
    
#//span[@class="ellipsis fleft locWdth"]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location1.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cname=i.text
    company_name1.append(cname)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required1.append(experience)
    
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

df=pd.DataFrame({'title':job_title1,'location':job_location1,'company':company_name1,'experience':experience_required1})
df

10 10 10 10

,title,location,company,experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
5,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

In [11]:
driver.quit()

In [12]:
##  Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
##  have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')
driver.get("https://www.naukri.com/")

In [13]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Science')
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [14]:
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title1.append(title)
    
#//span[@class="ellipsis fleft locWdth"]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location1.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cname=i.text
    company_name1.append(cname)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required1.append(experience)

print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

df=pd.DataFrame({'title':job_title1,'location':job_location1,'company':company_name1,'experience':experience_required1})
df

10 10 10 10

,title,location,company,experience
0,Senior Data Science Engineer,Bangalore/Bengaluru,Optout,4-9 Yrs
1,Data Science & Analyst,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",Eduplex Consultancy Services Pvt.Ltd,9-11 Yrs
2,Lead Data Science / Lead Analytics with a Lead...,Bangalore/Bengaluru,Premier Consultants,5-10 Yrs
3,Data Science with Python and Aws/GCP/Azure,Hybrid - Bangalore/Bengaluru,Anlage Infotech,4-6 Yrs
4,Data Science Manager,Bangalore/Bengaluru,Wakefit Innovations,7-10 Yrs
5,Principal Data Scientist (Principal Engineer D...,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.,8-12 Yrs
6,Chapter Lead - Data Science And Machine Learning,"Bangalore/Bengaluru, Chennai",Lentra Ai,8-13 Yrs
7,Data Science,"Bangalore/Bengaluru, Kochi/Cochin, Noida, Kolk...",EY Global Delivery Services India Llp,4-9 Yrs
8,Data Engineer/data Science Consultant,Bangalore/Bengaluru,Career Infosystem,4-9 Yrs
9,Data science Architect,Bangalore/Bengaluru,Hucon,8-11 Yrs

In [15]:
driver.quit()

In [16]:
## In this question you have to scrape data using the filters available on the webpage as shown below:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')
driver.get("https://www.naukri.com/")

In [17]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [24]:
## nukari Scraping Using Filters

location=driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location.click()

salary=driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary.click()
time.sleep(3)

job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]
Salary_slab=[]
job_title1.clear()
job_location1.clear()
company_name1.clear()
experience_required1.clear()
Salary_slab.clear()

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title1.append(title)
    
#//span[@class="ellipsis fleft locWdth"]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location1.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cname=i.text
    company_name1.append(cname)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required1.append(experience)

salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    Salary_slab.append(salary)

print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1),len(Salary_slab))

df=pd.DataFrame({'title':job_title1,'location':job_location1,'company':company_name1,'experience':experience_required1,'Salary':Salary_slab})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//span[@title="3-6 Lakhs"]"}
  (Session info: chrome=109.0.5414.75)
Stacktrace:
Backtrace:
	(No symbol) [0x00D26643]
	(No symbol) [0x00CBBE21]
	(No symbol) [0x00BBDA9D]
	(No symbol) [0x00BF1342]
	(No symbol) [0x00BF147B]
	(No symbol) [0x00C28DC2]
	(No symbol) [0x00C0FDC4]
	(No symbol) [0x00C26B09]
	(No symbol) [0x00C0FB76]
	(No symbol) [0x00BE49C1]
	(No symbol) [0x00BE5E5D]
	GetHandleVerifier [0x00F9A142+2497106]
	GetHandleVerifier [0x00FC85D3+2686691]
	GetHandleVerifier [0x00FCBB9C+2700460]
	GetHandleVerifier [0x00DD3B10+635936]
	(No symbol) [0x00CC4A1F]
	(No symbol) [0x00CCA418]
	(No symbol) [0x00CCA505]
	(No symbol) [0x00CD508B]
	BaseThreadInitThunk [0x76B7D109+25]
	RtlExpandEnvironmentStrings_U [0x7742253D+493]
	RtlExpandEnvironmentStrings_U [0x77422511+449]

In [ ]:
## Sun Glass
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')
driver.get("https://www.flipkart.com/")

In [ ]:
Search=driver.find_element(By.CLASS_NAME,'_3704LK')
Search.send_keys('Sun Glass')
Search_Click=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
Search_Click.click()

In [ ]:
Brand=[]
ProductDiscription=[]
Price=[]

In [ ]:
start = 0
end=2
for page in range(start,end):
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tags[0:100]:
        BrandName=i.text
        Brand.append(BrandName)

    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags[0:100]:
        PriceT=i.text
        Price.append(PriceT)
    
    Discription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Discription_tags[0:100]:
        Discription=i.text
        if(Discription==''):
         ProductDiscription.append('null')
        else:
         ProductDiscription.append(Discription)
   
    Next_Click=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Click.click() 
    time.sleep(5)

In [ ]:
print(len(Brand),len(ProductDiscription),len(Price))
df=pd.DataFrame({'Band':Brand,'Product Discription':ProductDiscription,'Price':Price})
df

In [ ]:
## Iphone 11 Reivew
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=apple-iphone-11-black-64-gbapple-iphone-11-black-64-gbapple+iphone+11&store=tyy%2F4io&spotlightTagId=BestvalueId_tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=2a9e83da-0096-434a-ae1a-6ffd732fdcd7.MOBFWQ6BXGJCEYNY.SEARCH&ppt=sp&ppn=sp&ssid=91pyb43thc0000001674176740469&qH=ade7f53fa995ffec")
""""LoginClose_Click=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
LoginClose_Click.click()
""""
""""Search=driver.find_element(By.CLASS_NAME,'_3704LK')
Search.send_keys('apple iphone 11')

Search_Click=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
Search_Click.click()""""

In [ ]:
AllReview=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
AllReview.click()
ratings=[]
reviewSummary=[]
fullSummary=[]

In [ ]:
start = 0
end=10
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags[0:100]:
        ratingText=i.text
        ratings.append(ratingText)
        
    rSummary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rSummary_tags[0:100]:
        RSText=i.text
        reviewSummary.append(RSText)
        
    fSummary_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fSummary_tags[0:100]:
        FSText=i.text
        fullSummary.append(FSText)
        
    Next_Click=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Click.click() 
    time.sleep(5)
    
print(len(ratings),len(reviewSummary),len(fullSummary))

df=pd.DataFrame({'Rating':ratings,'Rieview ':reviewSummary,'Discription ':fullSummary})
df

In [ ]:
## Write a python program to scrape data for Top 1000 Quotes of All Time.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')
driver.get('https://www.azquotes.com/')
TopQuotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
TopQuotes.click()

In [ ]:
Author=[]
Quotes=[]
QuoteTags=[]

start = 0
end=10
p=1
for page in range(start,end):
    Quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in Quotes_tags[0:1000]:
        Quot=i.text
        Quotes.append(Quot)
        
    Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Author_tags[0:1000]:
        Aut=i.text
        Author.append(Aut)
        
    QT_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in QT_tags[0:1000]:
        QT=i.text
        QuoteTags.append(QT)
    
    Next_Click=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
    Next_Click.click() 
    time.sleep(2)
    #/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a
    #//a[@href="top_quotes.html?p=',p+1,'"]

In [ ]:
print(len(Author),len(Quotes),len(QuoteTags))

df=pd.DataFrame({'Author':Author,'Quotes':Quotes,'Quote Tags':QuoteTags})
df