In [4]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.7.2-py3-none-any.whl (6.3 MB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\amit\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\amit\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\amit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\amit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\amit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\amit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: idna in c:\users\amit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\amit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\amit\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
#from selenium.comon.exception import StaleElementReferencException, NoSuchElementException
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome(r'C:\Users\Amit\Data Science Practice\chromedriver.exe')

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [17]:
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]

In [18]:
#scraping JOb title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title1.append(title)
    
#//span[@class="ellipsis fleft locWdth"]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location1.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    cname=i.text
    company_name1.append(cname)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required1.append(experience)

In [19]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

10 10 10 10

In [20]:
import pandas as pd
df=pd.DataFrame({'title':job_title1,'location':job_location1,'company':company_name1,'experience':experience_required1})
df

,title,location,company,experience
0,Senior Data Analyst - DC,Bangalore/Bengaluru,Boston Consulting Group,4-6 Yrs
1,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
2,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
3,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Junior Data Analyst,Bangalore/Bengaluru,RCPC,0-1 Yrs
5,Data Analysts with Business Analysis,Bangalore/Bengaluru,Avanze Group,6-8 Yrs
6,HR Data Analyst,Hybrid - Bangalore/Bengaluru,Walmart,2-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Xpheno,2-5 Yrs
8,Immediate Hiring For MIS and Data Analyst,Bangalore/Bengaluru,Regalix,1-6 Yrs
9,Manager - Data Analyst,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Huquo Consulting Pvt. Ltd,3-8 Yrs